/*colors*/
/* green-blue palette */
/* #20e062 spring green */
/* #75f9c6 aquamarine highlight*/
/* #36dfd2 turquoise */
/* #31b4db deepskyblue */
/* #2f9ae6 dodgerblue */
/* #2c62cb royalblue */

/* medium blue #2241a7 */

/* #333333 dark grey  */


body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #2241a7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.tab-content {
  min-height: 75vh;
}

/* #NavbarCSS */
.navbar {
  height: 110px;
}

.navbar.navbar-default {
  background-color: #2241a7 !important;
}

ul.nav.navbar-nav {
  display: flex;
  justify-content: center;
  gap: 34px;
}

.nav-link {
  color: white !important;
  font-size: 16px;
  line-height: 12px;
  font-weight: 700;
}

.nav-underline .nav-link.active,
.nav-underline :where(ul.nav.navbar-nav > li)>a.active {
  font-weight: 700;
}

/* scroll to top button */
#scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #5A5A5A;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  width: 80px;
}

#scroll-top:hover {
  background-color: #75f9c6;
}


/* #TypoCSS */
h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h1,
h2 {
  color: #2241a7;
}

h4 {
  font-size: 30px;
}

h6 {
  font-size: 16px;
}

h4,
h5,
h6 {
  color: #5a5a5a;
}


.standalone_container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.standalone_60 {
  width: 60%;
  padding: 25px 0px;
}

.standalone_80 {
  width: 80%;
  padding: 25px 0px;
}

.standalone_60 h1 {
  padding-bottom: 4rem;
}

/* Modal */
.modal-content {
  border-radius: 0px;
}

.modal-title h4 {
  color: #2241a7;
  padding: 1rem;
}

.modal-body {
  padding: 0px;
}

#disclaimer_left {
  text-align: center;
  padding: 2rem;
}

#disclaimer_right {
  background-color: #75f9c6;
  padding: 2rem;
}

#disclaimer_footer_right {
  background-color: #75f9c6;
}

#logo_disclaimer {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.modal_help {
  background-color: #75f9c6;
  color: #2241a7;
  padding: 4rem;
}

.modal-help ol {
  margin: 0rem;
}

/* Section */

.navbar:not(.fixed-bottom):not(.navbar-fixed-bottom):not(.navbar-fixed-bottom)+div>.tab-content>.tab-pane {
  margin-top: 0;
}

.section_header {
  padding-left: 50px;
  padding-right: 50px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

.title-container button {
  min-width: 148px;
}

.section_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 50px;
}

/* #ButtonsCSS */
.buttons-container {
  display: flex;
  gap: 25px;
}

.btn {
  background-color: transparent;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 700;
  color: #2241a7;
  border: solid 2px #2241a7;
  border-radius: 4px;
}

.btn:hover {
  background-color: #2241a7;
  border: solid 2px #2241a7;
  color: #fff;
}

.btn:active {
  background-color: #fff !important;
  color: #2241a7 !important;
  border-color: #2241a7 !important;
}

.primary-button {
  width: 360px;
  background-color: #2241a7;
  color: #fff;
}

.primary-button:hover {
  background-color: #fff;
  color: #2241a7;
  border-color: #2241a7;
}

.primary-button:active {
  background-color: #2241a7;
  color: #fff;
}

.file_input-container label.control-label {
  visibility: hidden;
}

.file_input-container label.input-group-btn {
  width: 100%;
}

.file_input-container label.input-group-btn span.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #2241a7;
  border-radius: 4px !important;
  background-color: #2241a7;
  color: #fff;
  font-weight: 700;
}

.file_input-container label.input-group-btn span.btn:hover {
  border-radius: 4px !important;
  background-color: #fff;
  color: #2241a7;
  font-weight: 700;
}

.file_input-container label.input-group-btn span.btn:active {
  border-radius: 4px !important;
  background-color: #2241a7;
  color: #fff;
  font-weight: 700;
}

.file_input-container input.form-control {
  border: none;
  font-size: 10px;
  padding-inline-start: inherit;
}

.progress {
  outline: solid 1px #75f9c6;
  background-color: #fff;
  border-radius: 10px;
}

.progress-bar {
  background-color: #20e062;
  border-radius: 10px;
  font-size: 0;
}

.restrict,
.lock {
  font-size: 0.9em;
}

/* #FormCSS */
.form-group {
  margin-bottom: 10px;
}

.inputs-container {
  padding: 0 170px 50px;
}

.selectize-input,
.selectize-dropdown {
  border: 2px solid #75f9c6;
  background-color: #f1f9ff;
  border-radius: 10px;
  color: #2241a7;
}

.selectize-input {
  min-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.selectize-control.single .selectize-input.input-active {
  display: flex;
}

.selectize-input.focus {
  border-color: #75f9c6;
}

.selectize-input.dropdown-active {
  border-radius: 10px;
}

.checkbox,
.control-label {
  color: #2241a7;
  font-size: 16px;
  font-weight: 700;
}

.selectize-input .item {
  padding-bottom: 5px;
}

.selectize-control.single .selectize-input:not(.no-arrow)::after {
  border-color: #2241a7 transparent transparent transparent;
}

.selectize-control.single .selectize-input:not(.no-arrow).dropdown-active::after {
  border-color: transparent transparent #2241a7 transparent;
}

.selectize-dropdown {
  overflow: hidden;
  color: #2241a7;
}

.selectize-dropdown:hover {
  background-color: #75f9c6;
  color: #2241a7;
}

.selectize-dropdown:active {
  background-color: #75f9c6;
  color: #2241a7;
}

.selectize-dropdown-content {
  padding: 0;
}

.selectize-dropdown .option,
.selectize-dropdown .selected {
  background-color: #fff;
  padding: 10px 12px 12px;
}

.selectize-dropdown .selected {
  color: #2241a7;
}

.selectize-dropdown .active {
  background-color: #75f9c6;
  color: #2241a7;
}


/* .selectize-dropdown .active:not(.selected) {
  background-color: #75f9c6;
  color: #2241a7;
} */


/* #AreaCSS*/
#area_selection {
  background-color: #75f9c6;
}

/* #FiguresCSS */
#figure_selection_main {
  padding: 0 50px;
}

#select_all_figures {
  text-align: center;
  margin-bottom: 100px;
}

#thumbnail_container {
  padding: 0 170px;
}

#thumbnail_container>div {
  gap: 50px;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumnail_button_container {
  position: relative;
}

.thumnail_button_container .btn {
  height: 100%;
  padding: 20px;
  border-color: #75f9c6;
  border-radius: 10px;
}

.thumnail_button_container .btn:hover {
  background-color: #fff;
  outline: 2px solid #75f9c6;
}

.thumnail_button_container .btn:active {
  border-color: #75f9c6 !important;
}

.thumnail_button_container .btn img {
  height: 100px;
  width: 100px;
  border-radius: 0;
}

.thumbnail_selected {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #75f9c6;
  opacity: 0.8;
  height: 140px;
  width: 140px;
  /* https: //stackoverflow.com/questions/29266338/clicking-on-buttons-through-a-container-mask */
  pointer-events: none;
}

.thumbnail_selected p {
  font-size: 16px;
  text-transform: uppercase;
}

.thumbnail h5 {
  text-align: center;
  color: #2241a7;
  margin-top: 10px;
  font-size: 17px;
}

#confirm_figures_selection {
  text-align: center;
  margin: 100px 0;
}

/* #ObservationCSS */
#observation {
  background-color: #e8e8e8;
  padding: 80px 50px 0;
}

#observation .section_header {
  padding: 0;
}

.panels-container {
  padding-bottom: 100px;
}

.panels-container .shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
}

#fig_left_panel {
  padding: 0 50px;
}

#fig_left_panel .primary-button {
  width: 100%;
}

#fig_sampling_info {
  padding: 100px 0;
}

.sampling_info-item {
  padding: 11px 0;
}

.fig_main_container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 30px;
  padding: 80px;
  border-radius: 17px;
  width: 100%;
  min-height: 5vh;
}

.fig_main_container-header {
  justify-content: left;
  align-items: left;
}

.fig_main_container-fig {
  justify-content: center;
  align-items: center;
}

.fig_container {
  width: 100%;
  background-color: white;
  padding: 50px;
}

.fig_caption_container {
  width: 100%;
}

.fig_caption {
  padding: 50px;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.fig_panel_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.fig_panel {
  width: 80%;
  padding: 30px;
}

.fig_legend {
  width: 20%;
  padding: 15px;
}

.fig_legend img {
  max-width: 100%;
}


.fig_text_output {
  min-height: 2.5rem;
  background-color: #bcffd3;
  color: #333333;
  padding: 0.5rem;
  border-radius: 10px;
}

#reference_data_authorship {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-top: 30px;
  padding: 100px;
  border-radius: 17px;
  overflow-x: scroll;
}

table.dataTable {
  margin-bottom: 50px !important;
}

.table_title-container {
  width: 100%;
  margin-bottom: 25px;
}

.dataTables_length label,
.dataTables_filter label {
  display: flex;
  justify-content: space-between;
  min-width: 245px;
  max-width: 360px;
  align-items: center;
  font-size: 16px;
}

.datatables .dataTables_wrapper .dataTables_length select,
.datatables .dataTables_wrapper .dataTables_filter input {
  height: 50px;
  padding-left: 10px;
  padding-right: 20px;
  border: 2px #76F9C6 solid;
  border-radius: 10px;
}

.datatables .dataTables_wrapper .dataTables_length select {
  padding-left: 10px;
  padding-right: 20px;
}

.datatables .dataTables_wrapper .dataTables_filter input {
  padding: 0 20px;
  margin-left: 10px;
}

table.dataTable tbody tr {
  height: 50px;
}

div.datatables {
  color: #2241a7 !important;
}

table.dataTable.no-footer {
  border: 0 !important;
}

table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td {
  border: none !important;
}

table.dataTable.display>tbody>tr>td {
  border: none !important;
}

.dataTable .odd {
  background-color: #f1f9ff;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 0 !important;
  background: #f1f9ff;
  border: 2px solid #76F9C6;
  border-radius: 10px;
  overflow: hidden;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: #76F9C6 !important;
  border-color: #75f9c6 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  margin-left: 0px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #2241a7 !important;
  background-color: #f1f9ff !important;
  border: 2px solid #76F9C6;
}

.sample_selected {
  text-align: right;
  font-size: 1.4em;
  font-weight: bold;
}

.sample_selected_data {
  margin-left: 1rem;
  padding: 0.8rem;
  background-color: #75f9c6;
  border-radius: 3rem;
}

.sample_selected_map {
  margin-left: 1rem;
  padding: 0.8rem;
  background-color: white;
  border-radius: 3rem;
}

#logo_gotedna {
  height: 4rem;
  margin-left: 8%;
}

#footer {
  padding: 4rem;
  background-color: #333333;
  text-align: center;
  align-items: center;
}


#logo_dfo {
  height: 6.5rem;
}

#logo_mswc {
  height: 8rem;
}

#logo_obon {
  height: 6rem;
}

#logo_undossd {
  height: 8.5rem;
}

#logo_gotedna_contact {
  width: 300px;
}


#data_input table {
  font-size: 1.4rem;
}



#table_output table {
  color: #20e062;
}


.align-text-left {
  width: 100%;
  text-align: left;
}

.align-text-right {
  width: 100%;
  text-align: right;
}

.shiny-options-group label {
  margin-right: 1rem;
}

.shiny-notification {
  position: fixed;
  top: calc(1%);
  left: calc(25%);
  width: 50%;
  font-weight: bold;
  text-align: center;
}

.shiny-notification-message {
  color: #2241a7;
  background-color: white;
  border: 2px solid #333333;
  font-size: 1.4em;
}

.shiny-notification-warning {
  color: #2241a7;
  background-color: #75f9c6;
  border: 2px solid #333333;
  font-size: 1.4em;
}

.shiny-notification-error {
  color: #c93342;
  background-color: #75f9c6;
  border: 2px solid #c93342;
  font-size: 1.4em;
}

shiny-plot-output {
  height: auto;
  margin: auto;
}

/* remove some leaflettool */
/* .leaflet-draw-draw-polyline,
.leaflet-draw-draw-marker,
.leaflet-draw-draw-circlemarker {
  visibility: hidden !important;
} */

.selectize-dropdown {
  z-index: 1001 !important;
}


.definition {
  font-weight: bold;
}
