/*colors*/
/* green-blue palette */
/* #20e062 spring green */
/* #75f9c6 aquamarine highlight*/
/* #36dfd2 turquoise */
/* #31b4db deepskyblue */
/* #2f9ae6 dodgerblue */
/* #2c62cb royalblue */

/* medium blue #2241a7 */

/* #333333 dark grey  */


body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #2241a7;
}

h1,
h2,
h3,
h4,
h5,
h6
{
font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar.navbar-default {
  background-color: #2241a7 !important;
  padding: 1rem;
}
.nav-link {
  color: white !important;
}

h1 {
  color: #2241a7;
}

h2 {
  font-weight: bold;
  color: #20e062;
}

.section_header {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 3rem;
}

.section_footer {
  padding-right: 5rem;
  padding-left: 5rem;
}

#data_request_fields {
  padding-right: 5rem;
  padding-left: 5rem;
}



#area_selection {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #75f9c6;
}


#logo_gotedna {
  height: 4rem;
  margin-left: 8%;
}

#footer {
  background-color: #333333;
}



#data_request {
  min-height: 30vh;
  padding: 1rem;
}

#observation_request {
  background-color: #f2f2f2;
  min-height: 97vh;
  padding: 0.5rem;
}

#observation_request .tabbable a {
  color: #20e062;
}

#observation_request h2 {
  margin-top: 1rem;
}

#observation_request h3 {
  color: #20e062;
  margin-top: 2rem;
  font-size: 1.4rem;
}

#gotedna_info,
#reset_button {
  text-align: right;
}


#gotedna_info .btn {
  background-color: transparent;
  border: none;
  margin-top: 1rem;
  padding: 0.25rem;
}

#gotedna_info .btn i {
  color: #20e062;
}


#data_input table {
  font-size: 1.4rem;
}

#figure_output {
  margin-bottom: 2rem;
  height: 50vh;
}


#table_output table {
  color: #20e062;
}

.pending {
  color: #ccc;
  font-size: 1.1em;
}



.col_1 {
  color: #20e062;
}

.col_grey1 {
  color: #7f7f7f;
}

.col_grey3 {
  color: #f2f2f2;
}

.align-text-left {
  width: 100%;
  text-align: left;
}

.align-text-right {
  width: 100%;
  text-align: right;
}

.shiny-options-group label {
  margin-right: 1rem;
}

.shiny-notification {
  position: fixed;
  top: calc(1%);
  left: calc(25%);
  width: 50%;
  font-weight: bold;
  text-align: center;
}

.shiny-notification-message {
  color: #0fbadc;
  background-color: #e7fafe;
  border: 1px solid #8de6f8;
}

.shiny-notification-warning {
  color: #f1b708;
  background-color: #111;
  border: 2px solid #ffedb7;
}

.shiny-notification-error {
  color: #c93342;
  background-color: #111;
  border: 1px solid #f8d5d8;
}

shiny-plot-output {
  height: 500px;
}

#button_map {
  text-align: right;
}

#button_source {
  margin-top: 0.2rem;
  text-align: right;
}

/* remove some leaflettool */
/* .leaflet-draw-draw-polyline, 
.leaflet-draw-draw-marker, 
.leaflet-draw-draw-circlemarker {
  visibility: hidden !important;
} */

.selectize-dropdown {
  z-index: 1001 !important;
}

.thumbnail {
  margin-bottom: 1rem;
}

#fig_caption {
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.definition {
  font-weight: bold;
}